{% extends 'main/base.html' %}



{% block content %}
<h1 class="head">ABOUT</h1>
<div class="information">
    <h3 class="rez">Добро пожаловать на сайт-портфолио Магомедова Назима М. Здесь вы можете узнать подробную информацию о мне и моих проектах. </h3>
<ul class="about_items">
    <li class="about_item">На странице "GENERAL" вы можете наблюдать различные проекты, статьи и все что я буду публиковать.</li>
    <li class="about_item">На странице "ABOUT" вы можете узнать подробную информацию о самом сайте, где и какую информацию вы можете найти.</li>
    <li class="about_item">На странице "PROJECTS" можно подробно посмотреть все проекты, скрины, их описание и найти сслыку на Git</li>
</ul>
</div>
<div class="ab_me">
    <h1 class="head">About me</h1>
    <h3>Меня зовут Назим, мне 14. Я занимаюсь программированием 1.5 года, сначало я изучал сферу gamedev, но потом перешел в Backend. Собираюсь развиваться в этой сфере и устроиться на работу. Взяв меня вы получите:</h3>
    <ul>
        <li>Неплохого сотрудника</li>
        <li>Кадр, у которого горят глаза двигаться дальше и развиваться</li>
        <li>Ваша компания может быть уверена, что в будущем получит хорошего сотрудника, так как не смотря на свой юный возраст и не самый большой опыт я уже достиг определленых результатов, а в будущем блогадаря большой практике и работе с сложными проектами мой скилл, мои знания вырастут в разы, и все это достанется вашей компании</li>
        <h3 class="skills">Что я умею:</h3>
        <li>Основы Python</li>
        <li>Знание Django, html, css на среднем уровне</li>
        <li>Умение работать с Git</li>
        <li>Умение работать с базой данных PostgreSQL</li>
    </ul>
</div>
        

{% endblock %}